*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Microsoft YaHei';
}
body{
    background: #fff;
}
a{
    color: black;
}
.hide{
    display: none;
}
.show{
    display: block;
}


/* */
.header{
    background: #F1F1F1;
    height: 40px;
    display: flex;
    color:black;
    justify-content: center;
}
.warp{
    width: 1170px;   
    display: flex; 
    justify-content: space-between;
    align-items: center;   
}

.warp-right{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.login-head{
    color: #000000;
    padding-left: 14px;
}
.login-head:hover{
    color:#e4393c;
}
/* */

/* */

#login-warp{
    width: 350px;
    height: 368px;
    position: absolute;
    margin:  auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 0 20px 20px 20px;
    border: 2px solid silver;
    background: #fff;
    display: none;
}
.login-choose{
    height: 40px;
    width: 50%;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    background: #fff;
    display: block; 
    cursor: pointer
}
.le{
    left: 0
}
.ri{
    right: 0
}
.close{
    width: 22px;
    height: 22px;
    position: absolute;
    background: #e4393c;
    cursor: pointer
}
.login-in{
   margin:95px 0 45px 0;
    
}
.login-on{
     border: 1px solid #bdbdbd;
     height: 38px;
     margin: 30px 0 0px 0;
}
.login-lab{
    position: absolute;
    z-index: 3;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(../icon/icon.png) no-repeat;
}
.itxt{
    line-height: 18px;
    height: 18px;
    border: 0;
    padding: 10px 0 10px 0px;
    width: 348px;
    font-size: 14px;
    text-indent: 52px;
}
.login-btn{
    border: 1px solid #e85356;
    display: block;
    width: 348px;
    background: #e4393c;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}
.login-error{
    color: red;
    position: absolute;
    margin: 5px;
    
}
/* */
.neck{
    width: 100%;
    height: 110px;
    border-bottom: 2px solid #e4393c
}
/**/
.main{
    display: flex;
    width: 1210px;
    margin: 0 auto;
 
}
.main-ul li{
 width: 100px;
    
    background: red;
    
}
.main-img{
    margin: 0 auto;
}